<?xml version="1.0" encoding="utf-8"?>
<!-- 
 Copyright (c) 2010 Adam C Jones

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in
 all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 THE SOFTWARE.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="2"
      android:versionName="1.1" 
      package="com.onesadjam.yagrac">
    <application 
    	android:theme="@android:style/Theme.Light"
    	android:label="@string/app_name" 
    	android:debuggable="true"
    	android:icon="@drawable/yagrac_icon">
        <activity 
        	android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
        	android:name=".LoginActivity" 
        	android:label="@string/app_name">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"></action>  
				<category android:name="android.intent.category.DEFAULT"></category>  
				<category android:name="android.intent.category.BROWSABLE"></category>  
				<data android:scheme="onesadjam" android:host="goodreads"></data> 
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" android:label="@string/app_name"></activity>
        <activity android:name=".ViewShelfActivity" android:label="@string/app_name"></activity>
        <activity android:name=".FriendsActivity" android:label="@string/app_name"></activity>
        <activity android:name=".UpdatesActivity" android:label="@string/app_name"></activity>
    	<activity android:screenOrientation="portrait" android:name=".FollowersActivity" android:label="@string/app_name"></activity>
		<activity android:label="@string/app_name" android:name=".FollowingActivity"></activity>
		<activity android:label="@string/app_name" android:name=".SocialActivity"></activity>
		<activity android:label="@string/app_name" android:name=".UpdateStatusActivity"></activity>
		<activity android:label="@string/app_name" android:name=".ViewUserActivity"></activity>
		<activity android:label="@string/app_name" android:name=".ViewBookActivity"></activity>
		<activity android:label="@string/app_name" android:name=".ReviewBookActivity"></activity>
		<activity android:label="@string/app_name" android:name=".ViewBookReviewsActivity"></activity>
		<activity android:label="@string/app_name" android:name=".ViewBookDetailsActivity"></activity>
		<!-- Track Market installs from AdMob ads -->		
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<meta-data android:value="a14c77dda100acf" android:name="ADMOB_PUBLISHER_ID" />
	</application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<supports-screens 
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
</manifest> 
